.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
  .search {
    display: none; 
  }
  .appbody {
    flex: 1;
    overflow: scroll;
  }
  @media screen and (max-width: 600px){
    .search {
      display: initial;
    }
  }
}
