.footer {
  padding: 25px 20px;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    list-style: none;
    padding: 0;
    margin: 1px 0 0 0;
    display: flex;
    li {
      border-right: 1px solid #c3c3c3;
      &:last-child {
        border-right: none;
      }
    }
    .link {
      padding: 0 15px;
      text-decoration: none;
      color: #088c7c;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    display: none;
  }
}