#header {
  padding: 20px;
  display: flex;
  #logo {
    min-width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #c3c3c3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    text-decoration: none;
    color: black;
  }
  .title {
    display: none;
  }
  .menu {
    display: none;
  }
  .wrapper {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #header {
    padding: 0;
    background-color: #088c7c;
    align-items: center;
    height: 60px;
    position: relative;
    #logo {
      min-width: initial;
      width: 45px;
      height: 45px;
      background-color: white;
      margin: 0;
      margin-left: 18px;
      font-size: bold;
    }
    .title {
      display: initial;
      flex: 1;
      text-align: center;
      color: white;
      padding: 15px 0;
      font-weight: bold;
      font-size: 20px;
    }
    .menu {
      display: initial;
      margin-right: 15px;
      margin-left: 18px;
      border: none;
      background-color: transparent;
    }
    .wrapper {
      display: none;
    }
    .mobile {
      position: absolute;
      top: 60px;
      right: 0;
    }
  }
}