.search {
  width: 100%;
  height: 100%;
  background-color: #256348;
  padding: 8px 15px;
  box-sizing: border-box;
  label {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #088c7c;
    align-items: center;
    img {
      width: 14px;
      height: 14px;
    }
    input {
      background-color: transparent;
      border: none;
      color: white;
      flex: 1;
      height: 14px;
      outline: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .search {
    background-color: #c3c3c3;
    padding: 5px 10px;
    label {
      background-color: white;
      input {
        color: grey;
        &::placeholder {
          color: grey;
        }
      }
    }
  }
}